<app-header>
  <p navigation>
    Flashcards / Topics / {{topic}} / Categories / {{category}} / Decks
  </p>
  <div content>
    <p>
      <button class="btn btn-secondary" (click)="goBack()"> Back </button>
      <button class="btn btn-success" (click)="add()"> Add </button>
    </p>
  </div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped app-table">
        <thead>
        <tr>
          <th> # </th>
          <th> Name </th>
          <th> Description </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let deck of decks; let i = index">
          <td> {{ i+1 }}</td>
          <td> {{ deck.name }}</td>
          <td> {{ deck.description }}</td>
          <td class="float-right">
            <button class="btn btn-primary" (click)="goToCards(deck)"> Cards </button>
            <button class="btn btn-warning" (click)="edit(deck)"> Edit </button>
            <button class="btn btn-danger" (click)="delete(deck)"> Delete </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
