<app-header>
  <p navigation>
    Flashcards / Topics / {{topic}} / Categories / {{category}} / Decks / {{deck}} / Cards / Edit
  </p>
  <div content>
    <p>
      <button class="btn btn-secondary" (click)="goBack()"> Back </button>
    </p>
  </div>
</app-header>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="cardForm">
          <div class="btn-group btn-group-justified">
            <button class="btn btn-secondary" [disabled]="!previousExists || !isReadOnly" (click)="prev()">Previous</button>
            <button class="btn btn-warning" [disabled]="!isReadOnly" (click)="edit()">Edit</button>
            <button class="btn btn-secondary" [disabled]="!nextExists || !isReadOnly" (click)="next()">Next</button>
          </div>
          <hr />

          <div class="row">
            <div class="col-sm-10">
              <mat-form-field>
                <input matInput formControlName="title" placeholder="Title"/>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-slide-toggle
                [checked]="isAnswerShown"
                (change)="toggleShowAnswer()">
                Answer shown
              </mat-slide-toggle>
            </div>
          </div>

          <quill-editor
            [modules]="modules"
            [readOnly]="isReadOnly"
            [ngClass]="{'quill-editor-readonly': isReadOnly}"
            formControlName="question">
          </quill-editor>

          <quill-editor
            *ngIf="isAnswerShown"
            [modules]="modules"
            [readOnly]="isReadOnly"
            [ngClass]="{'quill-editor-readonly': isReadOnly}"
            formControlName="answer">
          </quill-editor>

          <label class="text-danger text-center">
            {{errors}}
          </label>

          <button [disabled]="cardForm.invalid" *ngIf="!isReadOnly" (click)="save()" class="btn btn-primary float-right">
            Save
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-comment-list
  [topic]="topic"
  [category]="category"
  [deck]="deck"
  [cardId]="cardId"
  #commentList>
</app-comment-list>
