<app-header>
  <p navigation>
    Flashcards / Topics / {{topic}} / Categories / {{category}} / Decks / {{deck}} / Cards / Edit
  </p>
  <div content>
    <p>
      <button class="btn btn-secondary" (click)="goBack()"> Back </button>
    </p>
  </div>
</app-header>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <mat-card>
      <mat-card-content>
        <button class="btn btn-info" [disabled]="!previousExists || !isReadOnly" (click)="prev()">Previous</button>
        <button class="btn btn-info" [disabled]="!nextExists || !isReadOnly" (click)="next()">Next</button>
        <button class="btn btn-warning" [disabled]="!isReadOnly" (click)="edit()">Edit</button>
        <div class="float-right">
          <button *ngIf="!isReadOnly" (click)="cancel()" class="btn btn-dark">Cancel</button>
          <button [disabled]="cardForm.invalid" *ngIf="!isReadOnly" (click)="save()" class="btn btn-primary">Save</button>
        </div>
        <hr />

        <form [formGroup]="cardForm">
          <div class="row">
            <div class="col-sm-8">
              <mat-form-field>
                <input matInput formControlName="title" placeholder="Title"/>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-slide-toggle
                [checked]="card?.confirmed"
                (change)="confirmCard()">
                Confirmed
              </mat-slide-toggle>
            </div>
            <div class="col-sm-2">
              <mat-slide-toggle
                [checked]="isAnswerShown"
                (change)="toggleShowAnswer()">
                Answer shown
              </mat-slide-toggle>
            </div>
          </div>

          <quill-editor
            [modules]="modules"
            [readOnly]="isReadOnly"
            [ngClass]="{'quill-editor-readonly': isReadOnly}"
            formControlName="question"
            appBlockCut
            (cut)="onCut($event)">
          </quill-editor>

          <quill-editor
            *ngIf="isAnswerShown"
            [modules]="modules"
            [readOnly]="isReadOnly"
            [ngClass]="{'quill-editor-readonly': isReadOnly}"
            formControlName="answer"
            appBlockCut
            (cut)="onCut($event)">
          </quill-editor>

          <label class="text-danger text-center">
            {{errors}}
          </label>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-comment-list
  [topic]="topic"
  [category]="category"
  [deck]="deck"
  [cardId]="cardId"
  #commentList>
</app-comment-list>
