<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <mat-card class="example-card">
      <mat-card-content>
        <form [formGroup]="commentForm">
          <quill-editor [modules]="modules" formControlName="text"></quill-editor>
          <label class="text-danger text-center">
            {{errors}}
          </label>
          <button [disabled]="commentForm.invalid" (click)="save()" class="btn btn-success float-right">
            Add comment
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
