<app-header>
  <p navigation>
    Flashcards / Topics / {{topic}} / Categories / {{category}} / Decks / {{deck}} / Cards
  </p>
  <div content>
    <p>
      <button class="btn btn-secondary" (click)="goBack()"> Back </button>
      <button class="btn btn-success" (click)="add()"> Add </button>
    </p>
  </div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped app-table">
        <thead>
        <tr>
          <th> # </th>
          <th> Title </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of cards; let i = index">
          <td> {{ i+1 }}</td>
          <td> {{ card.title }}</td>
          <td class="float-right">
            <button class="btn btn-warning" (click)="edit(card)"> Edit </button>
            <button class="btn btn-danger" (click)="delete(card)"> Delete </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
