<app-header>
  <p navigation>
    Flashcards / Decks / {{deck}} / Cards / Add
  </p>
  <div content>
    <p>
      <button class="btn btn-secondary" (click)="goBack()"> Back </button>
    </p>
  </div>
</app-header>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="cardForm">
          <mat-form-field>
            <input matInput formControlName="title" placeholder="Title" />
          </mat-form-field>
          <quill-editor [modules]="modules" formControlName="question"></quill-editor>
          <quill-editor [modules]="modules" formControlName="answer"></quill-editor>

          <label class="text-danger text-center">
            {{errors}}
          </label>

          <button [disabled]="cardForm.invalid" (click)="save()" class="btn btn-primary float-right">
            Save
          </button>
        </form>

      </mat-card-content>
    </mat-card>

  </div>
</div>
