<app-header>
  <p navigation>
    Flashcards / Decks / {{deck}} / Cards / Add
  </p>
  <div content>
    <p>
      <button mat-stroked-button (click)="goBack()">
        <mat-icon>undo</mat-icon>
        Back
      </button>
    </p>
  </div>
</app-header>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="cardForm">

          <quill-editor [modules]="modules" formControlName="question" placeholder="Question"></quill-editor>
          <quill-editor [modules]="modules" formControlName="answer" placeholder="Answer"></quill-editor>

          <button mat-stroked-button [disabled]="cardForm.invalid" (click)="save()">
            <mat-icon>check</mat-icon>
          </button>
        </form>

      </mat-card-content>
    </mat-card>

  </div>
</div>
